.content{
    background-color: #7956DC;
    height: 100vh;
}

.logo{
    width: 130%;
    margin-top: 20%;
}

.title{
    color: white; 
    font-weight: bold; 
    font-size: 300%;
}

.input_login{
    color: white; 
    font-weight: bold;
}

.label_login{
    font-size: 160%; 
    color: white;
}

.backgroundimg{
    height: 100%; padding: 0%;
    background-image: url(../../img/background.jpg); 
    background-size: 100% 100%;
}

.copy{
    font-size: 300%;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.description{
    font-size: 200%; 
    text-align: left; 
    color: white; 
    font-weight: bold; 
    margin-bottom: 0px;  
    padding: 0px;
}


